<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>数据可视化</title>
  <link rel="stylesheet" href="./css/positionInfo.css" />
  <!-- 先引入jquery -->
  <script src="./JS/jquery.js"></script>
  <link rel="stylesheet" href="./css/tdesign.css" />
  <link rel="stylesheet" href="./css/menu.css">
  <link rel="stylesheet" href="./css/loading.css">
  <script src="./JS/vue.js"></script>
  <script src="./JS/tdesign.js"></script>
  <script src="./JS/requestAPI.js"></script>
  <script src="./JS/usefulInfo.js"></script>
  <script src="./JS/echarts.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts-gl/1.1.2/echarts-gl.min.js"></script>
  <style>
    .t-demo-cascader {
      width: 150px;
      background-color: rgba(0, 0, 0, 0);
      margin-left: 10px;
      float: left;
      color: #3280da;
      border: #3280da 1px solid;
    }

    .t-cascader__placeholder {
      color: #3280da;
    }

    #nameInput {
      width: 150px;
      float: left;
      margin-left: 10px;
    }

    .t-input {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #3280da;
    }

    .t-input__inner::-webkit-input-placeholder {
      color: #3280da;
    }

    .t-input__inner {
      color: #3280da
    }

    .table13_3 {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }

    .table13_3 tr {
      font-weight: bold;
      color: #44b2f7;
      line-height: 0.5rem;
    }

    .table13_3,
    .table13_3 th {
      text-align: center;
      padding: 4px;
      border-collapse: collapse;
      white-space: nowrap;
    }


    .update {
      position: absolute;
      color: rgb(198, 255, 250);
      font-size: 15px;
    }

    .update p {
      margin-top: 15px;
    }

    .head .col {
      color: rgba(255, 255, 255, 0.8);
      margin-top: 0.2rem;
    }

    .col {
      width: 1.1rem;
      height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
    }

    .t-form__label {
      color: #ededed;
    }

    .tdesign-demo__select-input-ul-single {
      padding: 4px 0;
      height: 300px;
      overflow-y: scroll;
    }

    .tdesign-demo__select-input-ul-single::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 10px;
      background-color: skyblue;
      background-image: -webkit-linear-gradient(45deg,
          rgba(255, 255, 255, 0.2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0.2) 75%,
          transparent 75%,
          transparent);
    }

    .tdesign-demo__select-input-ul-single::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: #ededed;
      border-radius: 10px;
    }

    .tdesign-demo__select-input-ul-single>li {
      display: block;
      border-radius: 3px;
      height: 40px;
      line-height: 22px;
      cursor: pointer;
      padding: 9px 8px;
      color: var(--td-text-color-primary);
      transition: background-color 0.2s cubic-bezier(0.38, 0, 0.24, 1);
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tdesign-demo__select-input-ul-single>li:hover {
      background-color: var(--td-bg-color-container-hover);
    }
  </style>
</head>
<script>
  var tempAddress = "全国"
  var preCode = [
    ['100000', '全国']
  ]
  $(window).resize(function () {
    //执行代码块
    let ww = $(window).width();
    
    if (ww < 1112)
      $("#h1").hide()
    else
      $("#h1").show()

    if (ww < 729)
      $(".showTime").hide()
    else
      $(".showTime").show()
  });
</script>

<body>
  <!-- 头部的盒子 -->
  <header>
    <div id="select">
      <template style="float:left">
        <div style="padding-top: 10px;float: left;">
          <div class="tdesign-demo-block-row">
            <t-tag name="renderDiscountIcon" shape="mark" size="large"
              style="margin-left: -1px;background-color: rgba(0, 0, 0, 0);border: 1px solid #3280da;color: #3280da;">
              职位等级</t-tag>
            <t-cascader class="t-demo-cascader" :options="options" v-model="value" @change="onChange" />
          </div>

        </div>
        <div style="padding-top: 10px;">
          <div class="tdesign-demo-block-row">
            <t-tag name="renderDiscountIcon" shape="mark" size="large"
              style="margin-left: -1px;background-color: rgba(0, 0, 0, 0);border: 1px solid #3280da;color: #3280da;">
              岗位名称</t-tag>
            <t-select-input id='nameInput' :value="selectValue" :popup-visible="popupVisible"
              @input-change="inputChange" placeholder="请选择职位名称" allow-input
              @popup-visible-change="onPopupVisibleChange">
              <template #panel>
                <ul class="tdesign-demo__select-input-ul-single">
                  <li v-for="item in options2" :key="item.value" @click="() => onOptionClick(item)">
                    {{ item.label }}
                  </li>
                </ul>
              </template>
              <template #suffiicon>
                <chevron-down-icon />
              </template>
            </t-select-input>
          </div>

        </div>

        <!-- <div style="float: left;">
					<t-form>
						<t-form-item label="起始薪资" style="float: left;">
							<t-input-number v-model="start" status="error" theme="column" tips="起始大于结束,请重新检查"></t-input-number>
						</t-form-item>
						<t-form-item label="结束薪资" style="float: left;">
							<t-input-number v-model="end" status="error" theme="column" ></t-input-number>
						</t-form-item>
						<t-form-item style="float: left;">
							<t-button variant="outline" ghost @click="search">查询</t-button>
						</t-form-item>
					</t-form>
				</div> -->
      </template>
    </div>
    <h1 id="h1" style="margin-top: -30px;margin-right: 25%;">基于岗位信息的数据分析展示</h1>
    <div class="showTime"></div>
    <script>
      var t = null;
      t = setTimeout(time, 1000); //開始运行
      function time() {
        clearTimeout(t); //清除定时器
        dt = new Date();
        var y = dt.getFullYear();
        var mt = dt.getMonth() + 1;
        var day = dt.getDate();
        var h = dt.getHours(); //获取时
        var m = dt.getMinutes(); //获取分
        var s = dt.getSeconds(); //获取秒
        document.querySelector(".showTime").innerHTML =
          "当前时间：" +
          y +
          "年" +
          mt +
          "月" +
          day +
          "-" +
          h +
          "时" +
          m +
          "分" +
          s +
          "秒";
        t = setTimeout(time, 1000); //设定定时器，循环运行
      }
    </script>
    &
  </header>
  <div id="nmh-navicon" class="NMH-g-plugin NMH-g-navicon Jnmh-open" style="z-index: 999;">
    <button class="Jnmh-btnlogo"></button>
    <ins class="Jnmh-btnlogohover"></ins>
    <ul class="Jnmh-m-submenu">
      <li class="Jnmh-subli">
        <dl class="Jnmh-subdl">
          <dt class="NMH-subdt"><a href="./index.html" style="text-decoration: none; color: #ededed;">首页</a></dt>
          <dd class="NMH-subdd"></dd>
        </dl>
      </li>
      <li class="Jnmh-subli">
        <dl class="Jnmh-subdl">
          <dt class="NMH-subdt"><a href="./positionInfo.html" style="text-decoration: none; color: #3280da;">岗位信息</a>
          </dt>
          <dd class="NMH-subdd"></dd>
        </dl>
      </li>
      <li class="Jnmh-subli">
        <dl class="Jnmh-subdl">
          <dt class="NMH-subdt"><a href="./positioncount.html" style="text-decoration: none; color: #ededed;">招聘数量</a>
          </dt>
          <dd class="NMH-subdd"></dd>
        </dl>
      </li>
      <li class="Jnmh-subli">
        <dl class="Jnmh-subdl">
          <dt class="NMH-subdt"><a href="./positionsalary.html" style="text-decoration: none; color: #ededed;">薪资</a>
          </dt>
          <dd class="NMH-subdd"></dd>
        </dl>
      </li>
      <li class="Jnmh-subli">
        <dl class="Jnmh-subdl">
          <dt class="NMH-subdt"><a
              href="https://datav.dameng.com/dataview/publish/page.html?pageId=1550317068090343425&isTemplate=0"
              style="text-decoration: none; color: #ededed;">实时展示</a></dt>
          <dd class="NMH-subdd"></dd>
        </dl>
      </li>
      <li class="Jnmh-subli">
        <dl class="Jnmh-subdl">
          <dt class="NMH-subdt"><a href="./yuce.html" style="text-decoration: none; color:  #ededed;">智能分析</a></dt>
          <dd class="NMH-subdd"></dd>
        </dl>
      </li>
    </ul>
  </div>
  <script>
    jQuery.support.cors = true
  </script>
  <script type="text/javascript">
    var GtoggleNavlogo = function () {
      var li = $('#nmh-navicon').find('.Jnmh-subli');
      var lilen = li.length;
      var avgDeg = 180 / (lilen - 1);// 平均角度
      var initDeg = 0;// 起始方向角度
      if ($('#nmh-navicon').hasClass('Jnmh-onleft')) {
        // 如果悬浮球被拖拽到左边，则二级菜单则显示右侧
        li.css({ transform: 'rotate(0deg)' });
        initDeg = 180;
      } else {
        // 默认悬浮球在右边，二级菜单显示在左侧
        li.css({ transform: 'rotate(-360deg)' });
      }
      for (var i = 0, j = lilen - 1; i < lilen; i++, j--) {
        var d = initDeg - (i * avgDeg);
        var z = initDeg ? j : i;
        // 
        $('#nmh-navicon').hasClass('Jnmh-open') ? GrotateNavlogo(li[z], d) : GrotateNavlogo(li[z], 0);
      }
    };
    var GrotateNavlogo = function (dom, deg) {
      $({ a: 0 }).animate({ a: deg }, {
        step: function (now, fx) {
          $(dom).css({ transform: 'rotate(' + now + 'deg)' });
          $(dom).children().css({ transform: 'rotate(' + (-now) + 'deg)' });
        }, duration: 0
      });
    }
    GtoggleNavlogo()
    // 鼠标拖动logo移动
    $(document).on('mousedown', '.Jnmh-btnlogo', function (e_down) {
      var wrap = $('#nmh-navicon');
      wrap.removeClass('Jnmh-open');
      $('.Jnmh-m-submenu').hide();
      GtoggleNavlogo();

      var positionDiv = wrap.offset();
      var distenceX = e_down.pageX - positionDiv.left;
      var distenceY = e_down.pageY - positionDiv.top + $(document).scrollTop();
      $(document).mousemove(diy_move);
      function diy_move(e_move) {
        var x = e_move.pageX - distenceX;
        var y = e_move.pageY - distenceY;

        if (x < 0) {
          x = 0;
        } else if (x > $(document).width() - wrap.outerWidth(true)) {
          x = $(document).width() - wrap.outerWidth(true);
        }

        if (y < 0) {
          y = 0;
        } else if (y > $(window).height() - wrap.outerHeight(true)) {
          y = $(window).height() - wrap.outerHeight(true);
        }

        $(wrap).css({
          'left': x + 'px',
          'top': y + 'px'
        });
      }
      $(document).mouseup(function () {
        var x = $(wrap).offset().left;
        var rm = '', ad = 'Jnmh-open';
        if (x > $(document).width() / 2) {
          x = $(document).width() - wrap.outerWidth(true) - 10;
          rm = 'Jnmh-onleft';
        } else {
          x = 10;
          ad += ' Jnmh-onleft';
        }
        $(wrap).css({ left: x + 'px' }).addClass(ad).removeClass(rm);
        $('.Jnmh-m-submenu').show();
        GtoggleNavlogo();
        $(document).unbind('mousemove', diy_move);
      });

    });

  </script>
  <!-- 页面主体部分 -->
  <section class="mainbox">
    <div class="column">
      <!-- no模块制作 -->
      <div class="no">
        <div class="no-hd" id="left">
          <ul>
            <li>{{needper}}</li>
            <li>{{saleavg}}</li>
          </ul>
        </div>
        <div class="no-bd">
          <ul>
            <li>需求人数</li>
            <li>平均薪资(千/月)</li>
          </ul>
        </div>
      </div>
      <div class="panel bar">
        <h2>专业技术术语</h2>
        <div class="chart" id="key"></div>
        <div class="panel-footer"></div>
      </div>

      <div class="panel-footer"></div>

      <div class="panel threeD" style="height: 450px;">
        <h2>学历-平均薪资-招聘量的多维图</h2>
        <div class="chart" style="height: 450px;"></div>
        <div class="panel-footer"></div>
      </div>

    </div>
    <div class="column">
      <!-- 地图模块 -->
      <div class="map panel" style="height: 7rem;">
        <div class="update">
          <p>上次更新时间:&nbsp&nbsp{{updateTime}}</p>
          <p>上次更新条数:&nbsp&nbsp{{updateLen}}条</p>
          <p>更新状态:&nbsp&nbsp{{countdown}}</p>
        </div>
        <div class="map1"></div>
        <div class="map2"></div>
        <div class="chart" style="height: 6rem; margin-top: 0.3rem;"></div>
        <div class="container" style="border: solid;">
          <div class="trans">
            <span id="loadAdd"></span>
          </div>
        </div>
        <div class="panel-footer"></div>
      </div>
      <div id="showList">
        <div class="panel monitor " :style="styleTable">
          <div class="inner">
            <div class="content" style="display: block;">
              <div class="head">
                <span class="col">地点</span>
                <span class="col">公司名称</span>
                <span class="col">岗位名称</span>
                <span class="col">人数需求量</span>
                <span class="col" style="overflow:visible">薪资(千/月)</span>
                <span class="col">学历要求</span>
                <span class="col">经验要求</span>
              </div>
              <div class="marquee-view">
                <div class="marquee" id="tableList" :style="style">
                  <div class="row" v-for="data in tableData">
                    <span class="col">{{data.one}}</span>
                    <span class="col">{{data.two}}</span>
                    <span class="col">{{data.three}}</span>
                    <span class="col">{{data.four}}</span>
                    <span class="col">{{data.five}}</span>
                    <span class="col">{{data.six}}</span>
                    <span class="col">{{data.seven}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <!-- no模块制作 -->
      <div class="no">
        <div class="no-hd" id="right">
          <ul>
            <li>{{max}}</li>
            <li>{{min}}</li>
          </ul>
        </div>
        <div class="no-bd">
          <ul>
            <li>最高薪资(千/月)</li>
            <li>最低薪资(千/月)</li>
          </ul>
        </div>
      </div>
      <div class="panel bar2">
        <h2>福利一览</h2>
        <div class="chart" id="desc">图表</div>
        <div class="panel-footer"></div>
      </div>
      <div class="panel pie2">
        <h2>学历要求</h2>
        <div class="chart" id="DEGREE">图表</div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </section>
  <script src="./JS/flexible.js"></script>
  <script src="./JS/subassembly.js"></script>
  <script src="./JS/e-wordclouds.min.js"></script>
  <script src="./JS/china.js"></script>
  <script src="./JS/xMap.js"></script>
  <script src="./JS/aiAnsyle.js"></script>
  <script>
    let select = new Vue({
      el: "#select",
      data: {
        start: 0,
        end: 0,
        origin: [],
        options: [],
        options2: [{
          label: "wolc"
        }],
        // 职位名称
        selectValue: {
          label: '',
          value: 1
        },
        popupVisible: false,
        // 职位等级
        value: '',
        count: 0
      },
      mounted() {
        getLevels().then((ret) => {
          select.count = 0
          select.$nextTick(() => {
            for (let i = 0; i < ret.length; i++) {
              select.options.push({
                label: ret[i].LEVEL + "(" + ret[i].COUNT + ")",
                value: ret[i].LEVEL,
              })
              select.count += parseInt(ret[i].COUNT)
            }
          });
        })
        getPosiName('全国').then((ret) => {
          for (let i = 0; i < ret.length; i++) {
            select.origin.push({
              label: ret[i].POSINAME,
              value: i
            })
            select.options2.push({
              label: ret[i].POSINAME,
              value: i
            })
          }
          select.selectValue = select.options2[1]

          // 选定职位初始化
          reloadAllPosiinfo(null, select.selectValue.label);
        })
      },
      methods: {
        onChange(val) {
          getPosiName(tempAddress, val).then((ret) => {
            select.options2 = []
            select.origin = []
            select.$nextTick(() => {
              for (let i = 0; i < ret.length; i++) {
                select.origin.push({
                  label: ret[i].POSINAME,
                  value: i
                })
                select.options2.push({
                  label: ret[i].POSINAME,
                  value: i
                })
              }
              select.selectValue = select.options2[0]
              reloadPosiInfo(tempAddress, val, select.selectValue.label, false)
            })
          })
        },
        onOptionClick(item) {
          this.selectValue = item;
          this.popupVisible = false;
          // 刷新视图
          reloadPosiInfo(tempAddress, this.value, item.label == '不限' ? null : item.label, false)
        },
        onPopupVisibleChange(val) {
          this.popupVisible = val;
        },
        inputChange(e) {
          this.options2 = this.origin.filter((val) => {
            return val.label.includes(e)
          })
        }
      }
    })
    var gra2 = new Vue({
      el: ".pie2",
      data: {
        address: "全国"
      }
    })
    var left = new Vue({
      el: "#left",
      data: {
        needper: 0,
        saleavg: 0
      }
    })
    var right = new Vue({
      el: "#right",
      data: {
        max: 0,
        min: 0
      }
    })
    var list = new Vue({
      el: "#showList",
      data: {
        tableData: [],
        styleTable: "",
        style: ""
      }
    })
    let update = new Vue({
      el: ".update",
      data: {
        updateTime: "  ",
        updateLen: "  ",
        countdown: "  "
      },
      mounted() {
        $.ajax({
          url: 'http://' + ip + "/updateLen",
          type: "GET",
          success(res) {
            update.updateLen = res
            
          }
        })
        $.ajax({
          url: 'http://' + ip + "/updateDate",
          type: "GET",
          success(res) {
            update.updateTime = res
            
          }
        })
        $.ajax({
          url: 'http://' + ip + "/countdown",
          type: "GET",
          success(res) {
            res = parseInt(res)
            countdownSecond = res
            if (countdownSecond == 0) {
              update.countdown = "正在拓展数据源."
              setInterval(() => {
                $.ajax({
                  url: 'http://' + ip + "/countdown",
                  type: "GET",
                  success(innerRes) {
                    if (innerRes != 0) {
                      location.reload()
                    } else {
                      if (point == 7) point = 0
                      update.countdown = "正在拓展数据源" + '.'.repeat(++point % 7)
                    }
                  }
                })
              }, 1000)
            } else {
              setInterval(() => {
                hh = parseInt(countdownSecond / 60 / 60 % 60);
                mm = parseInt(countdownSecond / 60 % 60);
                ss = parseInt(countdownSecond % 60);
                update.countdown = '还剩 ' + hh + "时" + mm + '分' + ss + "秒 更新"
                countdownSecond--

              }, 1000)
            }
          }
        })
      }
    })

  </script>
</body>

</html>